*~
.#*
#*#
src/build
.DS_Store
.ipynb_checkpoints/
*build*/
.cache/


CMakePresets.json
.vscode/*

src/ext/instant-ngp/data/*
src/ext/instant-ngp/docs/*


scenes/*

*.exr
*.bin
log.txt
checkcuda

test_*.png
flame_*.png

check_optix*

imgui.ini
*.msgpack


transmittance_imgs/*
radiance_imgs/*

images/**



limit_*

strange_*

testing_*


graphs/*

misc_images/*
training_visualized_graphs/*
*.png